/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

header {
    background-color: #ff6f61;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para la tabla */
table {
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #ff6f61;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f0f0f0;
}

button {
    background-color: #ff6f61;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #e15c53;
}

/* Estilos del pie de página */
footer {
    width: 100%;
    padding: 20px 0;
    background: #22201f;
    color: white;
    text-align: center;
    margin-top: auto;
}

footer h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

footer p {
    color: #cccccc;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace las imágenes redondas */
    transition: transform 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.1);
}
