/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Estilos del header */
header {
    background-color: #ff6f61;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Título en el header */
header h1 {
    font-size: 40px;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Estilos del menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Contenedor principal */
.contenedor {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Tabla */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    transition: background-color 0.3s, color 0.3s;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #af4c61;
    color: white;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

td{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h2{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.btn-adquirir{
    background-color: #df0e54e0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
tr:nth-child(even) {
    background-color: #f0bfbf;
}

/* Modo oscuro para todo el sitio cuando el checkbox está activado */
.toggle-mode:checked ~ .contenedor {
    background-color: #333;
    color: #f4f4f9;
}
.toggle-mode:checked ~ .contenedor .btn-adquirir { /* Cambié esto */
    background-color: #444;
    color: #f4f4f9;
}
.toggle-mode:checked ~ .contenedor header {
    background-color: #222;
    color: #f4f4f9;
}

.toggle-mode:checked ~ .contenedor nav ul li a {
    color: #f4f4f9;
}

.toggle-mode:checked ~ .contenedor table {
    background-color: #444;
    color: #f4f4f9;
}

.toggle-mode:checked ~ .contenedor table th {
    background-color: #666;
    color: #f4f4f9;
}

.toggle-mode:checked ~ .contenedor table td {
    background-color: #555;
}

/* Estilos del footer */
footer {
    width: 100%;
    padding: 20px 0;
    background: #22201f;
    color: white;
    text-align: center;
    margin-top: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

footer h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

footer p {
    color: #cccccc;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Ocultar el checkbox */
.toggle-mode {
    display: none;
}

/* Botón para el modo oscuro */
.switch {
    position: fixed;
    top: 20%;
    left: 87%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.button-mode {
    background-color: #b92517;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
